<body>
    <header>
        <h1>Welcome to virtual manga catalogue!</h1>
    </header>
    <main>
        <div class="container">
            <h2>Website Description</h2>
            <p>Welcome to our web app dedicated to fans of Japanese comics (manga) and novels! Our app is designed to help you store and catalogue everything you read, making it easier to keep track of your extensive collection.</p>

            <h2>Who Can Use This App?</h2>
            <p>If you love reading books and want a convenient way to manage your reading list, this app is perfect for you. Whether you're a manga enthusiast or a novel lover, our app caters to all readers who want to organize their collections.</p>

            <h2>Main Features</h2>
            <ul class="feature-list">
                <li>Render data for easy viewing of your collection.</li>
                <li>Create, update, and delete manga titles.</li>
                <li>Search functionality to quickly find specific titles.</li>
                <li>Login requirement for adding, editing, or deleting entries.(Email must include @atu.ie)</li>
                <li>Support for including images to enhance user experience.</li>
            </ul>
        </div>
    </main>
</body>
